html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.forth-wrapper{
    margin: auto;
    width: 100%;
  
}
@font-face {
    font-family: abril;
    src: url(AbrilFatface-Regular.ttf) format("truetype")
}
@font-face {
    font-family: mukta;
    src: url(MuktaMahee-ExtraLight.ttf) format("truetype")
}
.fix{
    width: 300px;
    height: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40%;
  text-align: center;
  margin-top: 10%;
 font-size: 33px;
 word-spacing: 4px;
 
}
 .slide2{
    width: 800px;
    height: 50px;
    opacity: 0.6;
    font-size: 20px; 
    line-height: 1.5;
    text-align: center;
    font-family: "Mukta Mahee", arial, sans-serif;
    margin-left: 25%;
    margin-top: 4%;
}
.splide__track{
 width: 100%;
 height: 800px;
 margin-left: 250px;
 margin-top: 90px;
}